# Configuration du projet
# Affecte les titres dans l'interface utilisateur, ainsi que les noms des conteneurs Docker et des volumes.
# Par exemple, si PROJECT_NAME=MonProjetSuper, le conteneur de l'application s'appellera MonProjetSuper-task-manager.
# Les noms d'images Docker générés par build.sh seront en minuscules (ex: monprojetsuper-task-manager).
PROJECT_NAME=MyProject

# Configuration du serveur
PORT=3001

# Configuration Redis
# REDIS_HOST est utilisé par server.js pour se connecter à Redis.
# Dans la configuration docker-compose, le service redis est souvent nommé d'après PROJECT_NAME (ex: ${PROJECT_NAME}-task-redis).
# Assurez-vous que REDIS_HOST correspond au nom du service Redis accessible par le conteneur task-manager.
REDIS_HOST=localhost # Pour un lancement local sans Docker, ou si Docker est configuré pour exposer Redis sur localhost au conteneur.
# REDIS_HOST=${PROJECT_NAME}-task-redis # Exemple pour Docker Compose où 'PROJECT_NAME' est le préfixe du service Redis.

REDIS_PORT=6379

# Environnement Node.js (development, production)
NODE_ENV=production