<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p *ngFor="let p of data.message.split('\\n')">{{ p }}</p>
</div>
<div mat-dialog-actions align="end">
  <button
    type="button"
    class="cta-button primary-action-btn"
    (click)="onNoClick()"
    mat-button
  >
  <mat-icon>cancel</mat-icon>
    Annuler
  </button>

  <button 
  type="button"
  mat-button
  class="error-button primary-action-btn"
  [mat-dialog-close]="true"
  cdkFocusInitial>
  <mat-icon>delete</mat-icon> Supprimer
</button>
</div> 
