<div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden">
  <div class="layout-container flex h-full grow flex-col items-center justify-center">
    <main class="flex flex-col items-center justify-center w-full px-6 py-8 lg:py-0">
      <div class="w-full bg-white rounded-xl shadow-xl md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <div class="flex items-center justify-center mb-8 logo-container">
            <app-logo [size]="100"></app-logo>
          </div>
          <form (ngSubmit)="handleLogin()" #loginForm="ngForm" class="space-y-4 md:space-y-6">
            <div class="form-group mb-6">
              <label class="block mb-2 text-sm font-medium text-gray-900" for="email">Email Address</label>
              <input 
                class="form-input h-12 p-3 placeholder-gray-400" 
                id="email" 
                name="email"
                type="email"
                [ngModel]="email()"
                (ngModelChange)="email.set($event)"
                placeholder="Enter your email" 
                required="" 
                [disabled]="loading()"/>
            </div>
            <div class="form-group mb-6">
              <label class="block mb-2 text-sm font-medium text-gray-900" for="password">Password</label>
              <input 
                class="form-input h-12 p-3 placeholder-gray-400" 
                id="password" 
                name="password" 
                placeholder="••••••••" 
                required="" 
                type="password"
                [ngModel]="password()"
                (ngModelChange)="password.set($event)"
                [disabled]="loading()"/>
            </div>

            <div class="error-container" *ngIf="error()">
                <p>{{ error() }}</p>
            </div>

            <div class="mt-6">
              <button class="btn-primary" type="submit" [disabled]="loading() || !loginForm.valid">
                @if (loading()) {
                  <span class="spinner"></span>
                  <span>Connexion...</span>
                } @else {
                  <span>Login</span>
                }
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</div> 