:host {
  display: block;
}

.recurrence-toggle {
  ::ng-deep .mat-button-toggle-label-content {
    font-size: 0.875rem;
    padding: 0 12px;
  }
}

.interval-field {
  width: 80px;

  ::ng-deep .mat-mdc-form-field-infix {
    min-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  ::ng-deep input[type='number'] {
    text-align: center;
  }
}

.count-field {
  width: 80px;

  ::ng-deep .mat-mdc-form-field-infix {
    min-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  ::ng-deep input[type='number'] {
    text-align: center;
  }
}

.date-field {
  width: 180px;

  ::ng-deep .mat-mdc-form-field-infix {
    min-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.day-checkbox {
  ::ng-deep .mdc-label {
    font-size: 0.8125rem;
  }
}
