<div class="task-tree-container">
  <ng-container *ngIf="loading">
    <div class="loading">Chargement de l'arborescence...</div>
  </ng-container>
  <ng-container *ngIf="!loading && error">
    <div class="error-message">{{ error }}</div>
  </ng-container>
  <ng-container *ngIf="!loading && !error">
    <ng-container *ngIf="treeData.length > 0; else emptyTree">
      <div cdkDropList [cdkDropListData]="treeData" (cdkDropListDropped)="drop($event, null)">
        <ng-container *ngFor="let node of treeData">
          <ng-container *ngTemplateOutlet="recursive; context: { $implicit: node }"></ng-container>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #emptyTree>
      <div class="empty-message">Aucune tâche à afficher.</div>
    </ng-template>
  </ng-container>
</div>

<ng-template #recursive let-node>
  <div class="tree-node" cdkDrag>
    <div class="tree-node-content">
          <mat-icon class="type-icon">{{ getTypeIcon(node.type) }}</mat-icon>
    <span class="badge badge-{{ node.type }}">{{ node.type }}</span>
    <span class="title">{{ node.title }}</span>
    <span class="slug">({{ node.slug }})</span>
    <span *ngIf="node.estimated_hours" class="estimation">~{{ node.estimated_hours }}h</span>
    </div>

    <div class="btn-actions">
    <button *ngIf="node.type === 'epic'" class="c-icon-button" (click)="onAddChild(node, 'feature'); $event.stopPropagation();">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="node.type === 'feature'" class="c-icon-button"  (click)="onAddChild(node, 'task'); $event.stopPropagation();">
      <mat-icon>add</mat-icon>
    </button>
    <button  class="c-icon-button"  (click)="onNodeClick(node); $event.stopPropagation();">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="canDeleteNode(node)" class="c-icon-button"  (click)="onDeleteNode(node); $event.stopPropagation();">
      <mat-icon>delete</mat-icon>
    </button>
    </div>
  </div>
  <div class="children" *ngIf="node.children && node.children.length > 0" cdkDropList [cdkDropListData]="node.children" (cdkDropListDropped)="drop($event, node)">
    <ng-container *ngFor="let child of node.children">
      <ng-container *ngTemplateOutlet="recursive; context: { $implicit: child }"></ng-container>
    </ng-container>
  </div>
</ng-template> 